.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
body {
    mix-blend-mode: difference;

    background-image: url('https://i.sstatic.net/LtCRM.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: 4em;

}

header {

    font-family: "Playfair Display", serif;
    font-size: 96px;
    text-align: center;
}

h1 {
    font-family: "Poppins", sans-serif;
    text-align: center;
}

